body {
    font-family: 'Orienta', sans-serif;
    background-color: #e6e6e6;
    padding: 0;
    margin: 0;
}

.header {
    background: #eee url(/media/img/header.png);
    height: 38px;
    min-width: 960px;
}

.logo {
    width: 32px;
    height: 32px;
    margin: 4px;
    
    position: relative;
    top: -4px;
}

.logo-text {
    display: inline-block;
    position: relative;
    top: -14px;
    left: -4px;
    
    letter-spacing: -2px;
}

.login-container {
    display: inline-block;
    float: right;
    margin-right: 16px;
    
    font-size: small;
    
    position: relative;
    top: 12px;
    right: -20px;
    
}

input {
    display: inline-block;
    float: right;
    width: 140px;
    height: 25px;
    float: right;
    padding: 2px 8px 0 25px;
    color: #999;
    border: 0;
    margin: 5px 15px 0 20px;
    font-size: 12px;
}

.header-menu {
    width: 960px;
    height: 48px;
    margin-left: auto;
    margin-right: auto;
    
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.2);
    -ms-box-shadow: 0 1px 5px rgba(0,0,0,0.2);
    -o-box-shadow: 0 1px 5px rgba(0,0,0,0.2);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    background: white;
}

a {
    color: #5a5c5e;
    text-decoration: none;
}

.mid-container {
    margin-left: auto;
    margin-right: auto;
    width: 1016px;
}

.large-tag {
    display: inline-block;
    text-shadow: 1px 1px 2px #555;
    font-size: x-small;
    text-align: center;
    
    width: 50px;

    margin: 0;
    padding: 6px;
    color: white;
    
    position: relative;
    top: -19px;
    left: 60px;
}

.header-all-tag {
    background-color: #5a5c5e;
}
.header-fitness-tag {
    background-color: #e15f4c;
}
.header-food-tag {
    background-color: #80b086;
}
.header-events-tag {
    background-color: #d2ad2c;
}
.header-news-tag {
    background-color: #5386ba;
}