
.getting-started-element {
    height: 140px;
    padding: 10px;
    background-color: #eeeeee;
    margin-bottom: 24px;
}

.getting-started-header {
    font-size: medium;
    letter-spacing: 4px;
}

.getting-started-text {
    font-size: small;
}

.share-element {
    display: inline-block;
    width: 180px;
    min-height: 180px;
    background-color: #eeeeee;
    padding: 10px;
}
