{% load static from staticfiles %}

<!DOCTYPE html>

<html lang="en">
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>

    <head>
		<link href="{{ STATIC_URL }}favicon.ico" rel="icon" type="image/x-icon">
		
        <meta charset="utf-8" />
		{% block facebook_meta %}
	        <meta property="og:description" content="Take the stress out of eating healthy." />
	        <meta property="og:url" content="http://www.healthfully.me" />
	        <meta property="og:title" content="Healthfully.me" />
	        <meta property="og:type" content="website" />
	        <meta property="og:image" content='{% static "img/hm-logo.jpg" %}' />
		{% endblock %}
        {% block extra_meta %}{% endblock %}
        
        <title>{% block title %}{% endblock %}</title>

        <meta name="HandheldFriendly" content="true" />
        <meta name="MobileOptimized" content="450">
        <meta name="viewport" content="width=device-width, maximum-scale=10.0, minimum-scale=0, user-scalable=yes"/>

        <!-- Javascript Libraries -->
        <!-- Google Hosted jQuery -->
        <script src='{% static "js/jquery-1.9.1.js" %}'></script>

		<!--[if !IE 7]>
			<style type="text/css">
				#wrap {display:table;height:100%}
			</style>
		<![endif]-->
        
        <!-- Segment.io -->
        <script type="text/javascript">
          var analytics=analytics||[];analytics.load=function(e){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src=("https:"===document.location.protocol?"https://":"http://")+"d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/"+e+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n);var r=function(e){return function(){analytics.push([e].concat(Array.prototype.slice.call(arguments,0)))}},i=["identify","track","trackLink","trackForm","trackClick","trackSubmit","pageview","ab","alias","ready"];for(var s=0;s<i.length;s++)analytics[i[s]]=r(i[s])};
          analytics.load("{{ SEGMENT_IO_KEY }}");
        </script>
		
        <!-- boostrap.js -->
        <script src='{% static "bootstrap/js/bootstrap.min.js" %}'></script>
        {% block extra_script_include %}
        {% endblock %}

        <!-- Styles -->
        <link href='{% static "bootstrap/css/bootstrap.css" %}' rel="stylesheet">
        <link href='{% static "bootstrap/css/bootstrap-responsive.css" %}' rel="stylesheet">

        {% block extra_style %}{% endblock %}
        
        <!--[if lt IE 9]>
		<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
		<![endif]-->
			
			
	     <!-- Setup so jquery can make ajax POST calls to Django (Send the CSRF_TOKEN) -->
	    <script language="javascript" type="text/javascript">
	    
	        $.ajaxSetup({ 
	             beforeSend: function(xhr, settings) {
	                 function getCookie(name) {
	                     var cookieValue = null;
	                     if (document.cookie && document.cookie != '') {
	                         var cookies = document.cookie.split(';');
	                         for (var i = 0; i < cookies.length; i++) {
	                             var cookie = jQuery.trim(cookies[i]);
	                             // Does this cookie string begin with the name we want?
	                             if (cookie.substring(0, name.length + 1) == (name + '=')) {
	                                 cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
	                                 break;
	                            }
	                        }
	                    }
	                    return cookieValue;
	                 }
	                 
	                 if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
	                 	
	                     // Only send the token to relative URLs i.e. locally.
	                     xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
	                 }
	             } 
	        });
	        
            page_name = document.location.pathname;
            
            if( page_name === '/' )
                page_name = "/index"
                
            analytics.track(page_name + '/view-page', {});
	    </script>
		
    </head>

    <body>
        {% block body %}{% endblock %}
    </body>

</html>