{% extends "user_page.html" %}

{% block extra_meta %}
<meta name="p:domain_verify" content="8ecbe813b826a4e7ea321553d6854729" />
{% endblock %}

{% block main_content %}

<div class="row-fluid">
	
    <div class="span6">
        <div class="message-container">
		
            <div class="message-row">
                <span class="header-text">Down for Maintenance</span>
            </div>
            
            <div class="message-row">
                <p class="message-text">
                    Our site is currently down for maintenance. Feel free to check us out on <a href="http://instagram.com/healthfullyme">instagram</a> for your recipes and other healthy ideas.
                </p>
            </div>
        </div>
    </div>
    <div class="span6">
        <div class="social-container">

<!-- Tint -->
		<script type="text/javascript" src="https://s3-us-west-1.amazonaws.com/hypes-images/assets/scripts/tintembed.js"></script>
		<div class="tintup-holder" style="-webkit-overflow-scrolling:touch;overflow:auto;position:relative;height:710px;width:400px;">
			<iframe class="tintup" src="http://www.tintup.com/healthfullyme?embed=true&height=680&width=400&cols=2" style="height:680px;width:400px;border:none;"></iframe>
		</div>
<!-- End Tint	 -->
			
       </div>

    </div>
    
</div>
        
{% endblock %}
