{% extends "user_page.html" %}

{% block title %}Oops!{% endblock %}

{% block main_content %}
    
    <div class="span6 offset3" style="padding: 40px">
        
        <h3>Email Incorrect</h3>
        
        <p class="email-result-message">
                Sorry, we didn't recognize that as an email, please hit back and try again.
        </p>
        
        <a href="/">
            <button class="green-button" style="width: 100%; margin: 30px 0;" href="/">Back</button>
        </a>  
    </div>     

{% endblock %}