{% extends "user_page.html" %}

{% block title %}Thanks!{% endblock %}

{% block main_content %}
   
    <div class="span6 offset3" style="padding: 40px">
        
        <h1 class="scripty-header-text" style="width: 100%; margin: 0 auto; text-align:center">Success</h1>
        <div style="clear: both">
        </div>
        <h3>Your invite is on the way!</h3>
        
        <p class="email-result-message">
            <br/> A member of our team will reach out to you by the next business day. In the meantime, visit our blog or drop us a line, we'd love to hear from you!  
        </p>
        
        <a href="http://blog.healthfully.me">
            <button class="green-button" style="width: 100%; margin-top: 40px" href="/">Visit the Blog</button>
        </a>    
    </div>        


{% endblock %}