{% extends "user_page.html" %}

{% block extra_meta %}
<meta name="p:domain_verify" content="8ecbe813b826a4e7ea321553d6854729" />
{% endblock %}

{% block main_content %}

<div class="row-fluid">
	
	{% if featured_recipe %}
    <div class="span6">
	{% else %}
    <div class="span12">
	{% endif %}
	
        <div class="message-container">
		
            <div class="message-row">
                <span class="header-text">Take the stress out of</span>
            </div>
            
            <div class="message-row">
                <div class="subheader-container">
                    <span class="leafy-header">healthy eating</span>
                </div>
            </div>
            
            <div class="message-row">
                <p class="message-text">
                    We make healthy eating easy, fun, and affordable for you and your family!
                </p>
            </div>
            
            <div class="message-row">
                {% if user.is_authenticated %}
                    <input class="orange-button" style="width: 100%" type="submit" onclick="window.location = '/store'" value="Go to the Store"></input>
                {% else %}
                <form class="default-form" action="submit-email/" method="post">
                    {% csrf_token %}
                    <div class="text-box">
                        {{ form.as_p }}
                    </div>
                    <input class="green-button" type="submit" value="Request an invite code" />
                </form>
                    <a style="float: left; margin-left: 115px;" href="/register/">I already have a code</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="span6">
		{% if featured_recipe %}
		<div id="featured-recipe-container">
		    <h1>Featured Recipe!</h1>
			<a href="{% url 'view-recipe' featured_recipe.id %}">
				<h3>{{ featured_recipe.title }}</h3>
				<img class="recipe-thumbnail" src="{{ featured_recipe.thumbnail_url }}"></img>
				<br/>
			</a>
			<a id="all-recipes-link" href="{% url 'view-recipes' %}">View all the Recipes</a>
		</div>
		{% endif %}
    </div>
</div>
        
{% endblock %}
