{% extends "user_page.html" %}

{% block extra_meta %}
<meta name="p:domain_verify" content="8ecbe813b826a4e7ea321553d6854729" />
{% endblock %}

{% block main_content %}

<div class="row-fluid">
	
    <div class="span6">
        <div class="message-container">
		
            <div class="message-row">
                <span class="header-text">Take the stress out of</span>
            </div>
            
            <div class="message-row">
                <div class="subheader-container">
                    <p class="leafy-header">healthy eating</p>
                </div>
            </div>
            
            <div class="message-row">
                <p class="message-text">
                    We make healthy eating easy, fun, and affordable for you and your family!
                </p>
            </div>
            
            <div class="message-row">
                {% if user.is_authenticated %}
                    <input class="orange-button" style="width: 100%; margin-top: 50px;" type="submit" onclick="window.location = '/store'" value="Go to the Store"></input>
                {% else %}
                <form class="default-form" action="submit-email/" method="post">
                    {% csrf_token %}
                    <div class="text-box">
                        {{ form.as_p }}
                    </div>
                    <input class="green-button" style="width: 100%; margin-top: -12px" type="submit" value="Request an invite code" />
                </form>
                    <a style="float: left; margin-left: 115px;" href="/register/">I already have a code</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="span6">
        <div class="social-container">
			<script type="text/javascript" src="https://s3-us-west-1.amazonaws.com/hypes-images/assets/scripts/tintembed.js"></script>        
			<div class="tintup-holder" style="-webkit-overflow-scrolling:touch;overflow:hidden;position:relative;height:410px;width:425px;">
			<iframe class="tintup" src="http://www.tintup.com/healthfullyme?embed=true&height=500&width=425&cols=2" style="height:600px;width:425px;border:none;"></iframe></div>
       </div>
    </div>
    
</div>
        
{% endblock %}
