{% extends "user_page.html" %}

{% block extra_meta %}
<meta name="p:domain_verify" content="8ecbe813b826a4e7ea321553d6854729" />
{% endblock %}

{% block main_content %}
<div class="row-fluid">
    
    <div class="span6">
        <div class="logo-container">
            <img class="logo" src="{{ STATIC_URL }}img/hm-logo.jpg"></img>    
        </div>
    </div>
    
    <div class="span6">
        <div class="message-container">
            <div class="message-row">
                <span class="header-text">Take the stress out of</span>
            </div>
            
            <div class="message-row">
                <div class="subheader-container">
                    <div class="green-dash">
                    </div>
                    <span class="scripty-header-text">healthy eating</span>
                    <div class="green-dash">
                    </div>
                </div>
            </div>
            
            <div class="message-row">
                <p class="message-text">
                    We partner with care providers to make healthy eating easy, fun, and affordable for you and your family. We’re launching our closed beta soon so request your invite today!
                </p>
            </div>
            
            <div class="message-row">
                {% if user.is_authenticated %}
                    <input class="orange-button" style="width: 304px; margin-top: 50px;" type="submit" onclick="window.location = '/store'" value="Go to the Store"></input>
                {% else %}
                <form class="default-form" action="submit-email/" method="post">
                    {% csrf_token %}
                    <div class="text-box">
                        {{ form.as_p }}
                    </div>
                    <input class="green-button" style="width: 100%; margin-top: -12px" type="submit" value="Request an invite code" />
                </form>
                    <a style="float: left; margin-left: 115px;" href="/register/">I already have a code</a>
                {% endif %}
            </div>
        </div>
    </div>    
</div>
        
{% endblock %}
