{% extends "login.html" %}

{% block top-bar %}
    <a class="login-link" href="/login">Login</a>
{% endblock %}

{% block centered_content %}
    <script type="text/javascript">
        analytics.track('/register/view-page', {});
    </script>
    <h1 class="scripty-header-text">Register Here!</h1><br />

    <form class="login-form" action="/register/" method="post">
        {% csrf_token %}
        
        {{ form.as_p }}

        <input class="green-button" style="width: 130px!important;" type="submit" value="Register" onclick="analytics.track('/register/clicked-register', {});" />
		<br/>
		<br/>
		<br/>
        <a class="forgot-login" href="/">Back</a>
    </form>
    
{% endblock %}