{% extends "base.html" %}

{% block title %}Healthfully.me{% endblock %}

{% block extra_style %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/home.css" type="text/css" media="screen" />
    {% block more_extra_style %}{% endblock %}
{% endblock %}

{% block extra_script_include %}

{% if user.is_authenticated %}
<script type="text/javascript">
    analytics.identify('{{ user.email }}', {
        email : '{{ user.email }}'
    });     
</script>
{% endif %}
 
{% endblock %}

{% block body %}

<div class="top-bar" style="float: none;">
    {% if user.is_authenticated %}
    <span class="login-link">
       Welcome {{ user.email }} | <a href="/logout">Logout</a>
    </span>
    {% else %}
    <span class="login-link">
        <a href="/login">Login</a> | <a href="/register">Register</a>
    </span> 
    {% endif %}
</div>

<div class="background">
	<div class="main-content">
		<div class="container-fluid">
	        {% block main_content %}
	        {% endblock %}
	    </div>
	</div>
</div>


<div id="footer" class="footer-bar">
	<a class="email-link" href="mailto:hello@healthfully.me">Email Us</a>
	<div class="social-link" style="margin-top:22px"><a data-pin-do="buttonFollow" href="http://pinterest.com/healthfullyme/">Healthfully.me</a></div>
	<!-- <iframe class="social-link" src="//www.facebook.com/plugins/follow.php?href=https%3A%2F%2Fwww.facebook.com%2Fhealthfullyme&amp;layout=button_count&amp;show_faces=false&amp;colorscheme=light&amp;font=verdana&amp;width=100" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:90px;" allowTransparency="true"></iframe> -->
	
<a href="https://twitter.com/HealthfullyMe" class="twitter-follow-button login-link" data-show-count="false">Follow @HealthfullyMe</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>

<a href="/">
<img src="{{ STATIC_URL }}img/tiny-logo.png" class="tiny-logo"/>
</a>
{% endblock %}

