{% extends "base.html" %}

{% block title %}Healthfully.me{% endblock %}

{% block extra_style %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/home.css" type="text/css" media="screen" />
    {% block more_extra_style %}{% endblock %}
{% endblock %}

{% block extra_script_include %}

{% if user.is_authenticated %}
<script type="text/javascript">
    analytics.identify('{{ user.email }}', {
        email : '{{ user.email }}'
    });     
</script>
{% endif %}
 
{% endblock %}

{% block body %}

<div class="top-bar" style="float: none;">
    {% if user.is_authenticated %}
    <span class="login-link">
       Welcome {{ user.email }} | <a href="/logout">Logout</a>
    </span>
    {% else %}
    <span class="login-link">
        <a href="/login">Login</a> | <a href="/register">Register</a>
    </span> 
    {% endif %}
</div>

<div class="background">
	<div class="main-content">
		<div class="container-fluid">
	        {% block main_content %}
	        {% endblock %}
	    </div>
	</div>
</div>


<div id="footer" class="footer-bar">
	<a class="social-link" href="mailto:hello@healthfully.me">
		<img src="{{ STATIC_URL }}img/email.png"></img>
	</a>
	<a class="social-link" href="https://www.facebook.com/healthfullyme">
		<img src="{{ STATIC_URL }}img/thefacebook.png"></img>
	</a>
	<a class="social-link" href="https://twitter.com/healthfullyme">
		<img src="{{ STATIC_URL }}img/twitter.png"></img>
	</a>
	<a class="social-link" href="http://pinterest.com/healthfullyme/">
		<img src="{{ STATIC_URL }}img/pinterest.png"></img>
	</a>
	<a class="social-link" href="http://instagram.com/healthfullyme">
		<img src="{{ STATIC_URL }}img/instagram.png"></img>
	</a>
	<a class="social-link" href="http://healthfullyme.uservoice.com/forums/200210-general">
		<img src="{{ STATIC_URL }}img/feedback.png"></img>
	</a>
</div>


<a href="/">
<img src="{{ STATIC_URL }}img/tiny-logo.png" class="tiny-logo"/>
</a>
{% endblock %}

