{% extends "email/boilerplate.html" %} 
 
{% block subject %}Healthfully Me Password Reset{% endblock %} 

{% block body %}
<style>
    @import url(http://fonts.googleapis.com/css?family=Signika);
</style>

<font color="#666666" face="Signika, sans-serif">
<p style="font-size:16px;line-height:20px;padding:10px">
    Hi,<br />
    It looks like you requested a password reset. Just follow this link to choose a new password: <a href="{{ reset_url }}">{{ reset_url }}</a> 
    <br />
    If you didn't request this reset, please just ignore this email.<br /><br />
    Your Healthfully Me Support Team,<br />
    <br />
    Emily, Jamie, Brittany, and Caitlin
</p>
</font>

{% endblock %}