html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    
    padding: 0;
    overflow: hidden;
}

.main-content {
    min-height: 400px;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.logo-container {
    float:none;
    
    margin: 50px auto;
    width: 371px;
}

.logo {
    width: 371px;   
}

.email-submit {
    font-family: 'Signika', sans-serif;
    font-size: 16px;
    color:#666666;
    position: relative;
    left: 20px;
    top: 10px;

    line-height: 22px;
}

.email-submit input {
    float: left;
    
    background-color: #ffffff;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 4px solid #24adae;
    display: inline-block;
    
    padding: 6px 24px;
}

.email-submit label {
    float: left;
    position: relative;
    left: -15px;
    top: 10px;
}


#orange-button {
    position: relative;
    top: 5px;
    left: -20px;
    float: left;
    background-color: #ffa05b;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #eda933;
    display: inline-block;
    color: #ffffff;

    font-family: 'Signika', sans-serif;
    font-size: 15px;

    padding: 6px 24px;
    text-shadow: 1px 1px 0px #cd8a15;
    
    width: 100%;
}#orange-button:hover {
    background-color: #ffb884;
}#orange-button:active {
    position: relative;
    top: 1px;
}

.green-button {
    background-color: #7fc44e;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #7abc4c;
    display: inline-block;
    color: #ffffff;

    font-family: 'Signika', sans-serif;
    font-size: 15px;

    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 1px 1px 0px #7abc4c;
    text-align: center;
    
    width: 128px;
}.green-button:hover {
    background-color: #97e161;
}.green-button:active {
    position: relative;
    top: 1px;
}

.top-bar {
    background-color:#7FC44E;
    position: relative; 
    height: 48px;
    width: 100%;
    top: 0;
}

.debug-div {
    border: 2px solid red;
}

.bottom-bar {
    
    background-color: #24adae;
    height: 200px;
    width: 100%;
    margin: 0;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

.message-container {
    float:none;
    
    margin: 70px auto;
    width: 350px;
    min-height: 500px;
}

.message-row {
    float: left;
    min-width: 350px;
    margin-top: 10px;
}

.header-text {
    font-family: 'Signika', sans-serif;
    font-size: 37px;
    line-height: 38px;
    color: #24adae;
    
    margin: 0 auto;
}

.scripty-header-text {
    float: left;
    font-family: 'Montez', sans-serif;
    font-size: 50px;
    color: #ffa05b;
    height: 64px;
    line-height: 64px;
    
    width: 250px;
    text-align: center;
}

.green-dash {
    float: left;

    background-color: #7fc44e;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    display: inline-block;
    
    width: 45px;
    height: 3px;
    
    margin: 31px 0;
}

.message-text {
    float: none;
    font-family: 'Signika', sans-serif;
    font-size: 16px;
    color:#666666;
    text-align: justify;
    max-width: 350px;
}

.email-result-message {
    float: none;
    font-family: 'Signika', sans-serif;
    font-size: 16px;
    color:#666666;
    text-align: justify;
    max-width: 350px;
    margin: 60px auto 60px auto;
}

a {
    font-family: 'Signika', sans-serif;
}
	

/* ====================================================== */
/* ! Provide higher res assets for high-res displays      */
/* ====================================================== */

/* Swap out assets for retina displays
@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

}*/
@media only screen and (max-width: 767px) {
    
    .message-container {
        margin: 20px auto;
    }
    .logo {
        position: relative;
        left: 8px;
    }
}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
    
    body {
        zoom: 0.75;
    }
    
    .scripty-header-text {
        font-size: 30px;
        line-height: 64px;
    }
        
    .header-text {
        font-size: 25px;
        line-height: 38px;
    }

}
