{% extends 'base.html' %}

{% block header %}
	<link type="text/css" rel="stylesheet" href="/media/css/share-elements.css" />
{% endblock %}

{% block content %}
<br>
	<div class="getting-started-element">
		<br />
		<span class="getting-started-header">GET HEALTHY YOU LAZY SHIT*</span><br /><br />
		<span class="getting-started-text">*Requires a better tagline</span><br />
		<span class="getting-started-text">OHM is a community for anyone that's ever wanted to not suck so much at life!</span><br />
		<span class="getting-started-text">There will be some description upgrades in the future!</span><br />
	</div>
	<div class="share-element">
	</div>
	<div class="share-element">
		Why does this offset the div?
	</div>
	<div class="share-element">
	</div>
	<div class="share-element">
	</div>
	<div class="share-element">
	</div>
{% endblock %}
