{% extends "email/boilerplate.html" %} 
{% block subject %}Your Whole Foods eGift Card! - ({{ transaction.id_slug }}){% endblock %} 
{% block body %}
<style>
    @import url(http://fonts.googleapis.com/css?family=Signika);
</style>

<font color="#666666" face="Signika, sans-serif">
<p style="font-size:16px;line-height:20px;padding:10px">
    <span>Hi!</span><br/>
	<br/>
	<span><b>Here is the link to the Whole Foods eGift Card you ordered:</b></span><br/>
    <span><a href="{{ giftcard.fulfillment_url }}">Your Whole Foods eGiftcard</a></span><br/>
	<br/>
    <span><b>Member:</b> {{ user.email }}</span><br/>
    <span><b>Transaction ID:</b> {{ transaction.id_slug }}</span><br/>
    <span><b>Offer:</b> {{ offer.buy_window_title }}</span><br/>
	<br/>
    <span>You can redeem your eGift Card at any Whole Foods location in one of two ways:</span><br/>
	<br/>
    <span><b>1) Print:</b> Open the above link in your web browser, <i>print the page</i> and present your eGift Card to the cashier at check out.</span><br/>
	<br/>
	<span><b>2) Mobile:</b> While waiting in line at checkout, <i>open the link on your smartphone</i> and display the eGift Card to the casher.</span><br/>
	<br/>
    <span>If you have any problems using your eGift Card(s), please email <a href="mailto:help@healthfully.me">help@healthfully.me</a> and we'll be happy to help!</span><br/>
    <br />
	<br/>
    <span>Your Healthfully Me Support Team,</span><br />
    <br />
    <span>Emily, Jamie, Brittany, and Caitlin</span>
</p>
</font>
{% endblock %}