{% extends "email/boilerplate.html" %} 
{% block subject %}Order Confirmation - Healthfully Me{% endblock %} 
{% block body %}
<style>
    @import url(http://fonts.googleapis.com/css?family=Signika);
</style>

<font color="#666666" face="Signika, sans-serif">
<p style="font-size:16px;line-height:20px;padding:10px">
    <br /> 
    <br />
    Purchase Summary:<br />
    <br />
    Member ID:  {{ user.email }} <br />
    Transaction ID: {{ transaction.id_slug }}<br />
    Offer ID: {{ offer.buy_window_title }}
    <br />
    <br />
    Your Order Will Be Shipped To:<br />   
    <br />
    {{ shipping_address.name }} <br />
    {{ shipping_address.line1 }} <br />
    {% if shipping_address.line2 %}
    {{ shipping_address.line2 }} <br />
    {% endif %}
    {{ shipping_address.city }}, {{ shipping_address.state }}, {{ shipping_address.zip }} <br />
    <br />
    While you wait for your order to arrive, follow us for updates and healthy living tips on our 
    <a href="http://blog.healthfully.me/">blog</a>, 
    <a href="https://twitter.com/HealthfullyMe/">twitter</a>, 
    <a href="https://www.facebook.com/healthfullyme">facebook</a>, 
    <a href="http://pinterest.com/healthfullyme/">pinterest</a>, and 
    <a href="http://instagram.com/healthfullyme">instagram</a>!<br />
    
    Thank you For Your Order! Please allow for 1-3 Business days for your order to be delivered. If you have any questions or feedback, please send us an email at 
    <a href="mailto:help@healthfully.me?subject={Transaction ID} - Support">help@healthfully.me.<a/><br />
    
    <br />
    Your Healthfully Me Support Team,<br />
    <br />
    Emily, Jamie, Brittany, and Caitlin
</p>
</font>
{% endblock %}