{% extends "email/boilerplate.html" %} 
{% block subject %}Order Confirmation - Healthfully Me{% endblock %} 
{% block body %}
<style>
    @import url(http://fonts.googleapis.com/css?family=Signika);
</style>

<font color="#666666" face="Signika, sans-serif">
<p style="font-size:16px;line-height:20px;padding:10px">
    
    <span>Thank you For Your Order! Please allow for 1-3 <br />Business days for your order to be delivered. If you have <br />any questions or feedback, please send us an email at<br /> 
    <a href="mailto:help@healthfully.me?subject={{ transaction.id_slug }} - Support">help@healthfully.me.</a></span><br />
    <br /> 
    <br />
    <span>Purchase Summary:</span><br />
    <br />
    <span>Member ID:  {{ user.email }} </span><br />
    <span>Transaction ID: {{ transaction.id_slug }}</span><br />
    <span>Offer ID: {{ offer.buy_window_title }}</span><br />
    <br />
    <span>Your Order Will Be Shipped To:</span><br />   
    <br />
    <span>{{ shipping_address.name }} </span><br />
    <span>{{ shipping_address.line1 }} </span><br />
    {% if shipping_address.line2 %}
    <span>{{ shipping_address.line2 }} </span><br />
    {% endif %}
    <span>{{ shipping_address.city }}, {{ shipping_address.state }}<br />{{ shipping_address.zip }} </span><br />
    <br />
    <span>While you wait for your order to arrive, follow us <br />for updates and healthy living tips on our<br /> 
    <a href="http://blog.healthfully.me/">blog</a>, 
    <a href="https://twitter.com/HealthfullyMe/">twitter</a>, 
    <a href="https://www.facebook.com/healthfullyme">facebook</a>, 
    <a href="http://pinterest.com/healthfullyme/">pinterest</a>, and 
    <a href="http://instagram.com/healthfullyme">instagram</a>!</span><br />
    
    <br />
    <span>Your Healthfully Me Support Team,</span><br />
    <br />
    <span>Emily, Jamie, Brittany, and Caitlin</span>
</p>
</font>
{% endblock %}