{% extends "simple_home_page.html" %}

{% block title %}Thanks!{% endblock %}

{% block centered_content %}

<div class="message-row">
    <h1 class="header-text">Invite On The Way</h1>
    <p class="email-result-message">
        We want to hear from you! A member of our team will reach out to you by the next business day. Check out our blog to get to know us, you'll discover tips on how to balance saving time and money with being healthy. 
    </p>
    
    <a class="green-button" href="/">Back</a>
    <!-- <a class="green-button" href="http://blog.healthfully.me/">Visit Blog</a> -->
</div>

{% endblock %}