<!DOCTYPE html>

<html lang="en">
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>

    <head>
        <meta charset="utf-8" />
        <meta property="og:description" content="Take the stress out of eating healthy." />
        <meta property="og:url" content="http://www.healthfully.me" />
        <meta property="og:title" content="Healthfully.me" />
        <meta property="og:type" content="website" />
        <meta property="og:image" content="http://www.healthfully.me{{ STATIC_URL }}img/hm-logo.jpg" />

        <title>{% block title %}{% endblock %}</title>

        <meta name="HandheldFriendly" content="true" />
        <meta name="MobileOptimized" content="450">
        <meta name="viewport" content="width=device-width, maximum-scale=10.0, minimum-scale=0, user-scalable=yes"/>

        <!-- Javascript Libraries -->
        <!-- Google Hosted jQuery -->
        <script src="{{ STATIC_URL }}js/jquery-1.9.1.js"></script>

        <!-- boostrap.js -->
        <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>

        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-37761422-1']);
            _gaq.push(['_setDomainName', 'healthfully.me']);
            _gaq.push(['_setAllowLinker', true]);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script');
                ga.type = 'text/javascript';
                ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(ga, s);
            })();
        </script>

        {% block extra_script_include %}{% endblock %}

        <!-- Styles -->
        <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

        {% block extra_style %}{% endblock %}
    </head>

    <body>
        {% block body %}{% endblock %}
    </body>

</html>