{% extends "simple_home_page.html" %}

{% block centered_content %}

<div class="message-row">
    <span class="header-text">Take the stress out of</span>
</div>

<div class="message-row">
    <div class="subheader-container">
        <div class="green-dash">
        </div>
        <span class="scripty-header-text">healthy eating</span>
        <div class="green-dash">
        </div>
    </div>
</div>

<div class="message-row">
    <p class="message-text">
        We partner with care providers to make healthy eating easy, fun, and affordable for you and your family.   We’re launching our closed beta soon so request your invite today!
    </p>
</div>

{% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
{% endif %}

<div class="message-row">
    <form class="default-form" action="submit-email/" method="post">
        {% csrf_token %}
        <div class="text-box">
            {{ form.as_p }}
        </div>
        <input class="green-button" style="width: 100%; margin-top: -12px" type="submit" value="Request an invite code" />
    </form>
        <a class="orange-button" style="float: right; margin: 8px 0;" href="/register/">I already have a code</a>
        
</div>

        
{% endblock %}
