{% extends "simple_home_page.html" %}

{% block centered_content %}

<div class="message-row">
    <span class="header-text">Take the stress out of</span>
</div>

<div class="message-row">
    <div class="subheader-container">
        <div class="green-dash">
        </div>
        <span class="scripty-header-text">healthy eating</span>
        <div class="green-dash">
        </div>
    </div>
</div>

<div class="message-row">
    <p class="message-text">
        We partner with care providers to make healthy eating easy, fun, and affordable for you and your family.   We’re launching our closed beta soon so request your invite today!
    </p>
</div>

{% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
{% endif %}

<div class="message-row">
    <form class="email-submit" action="submit-email/" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input id="orange-button" type="submit" value="Request an invite code" />
    </form>
    <!-- <a href="http://www.google.com">
        <input class="green-button" style="width: 200px" type="submit" value="I have a code!" />
    </a> -->
</div>

        
{% endblock %}
