{% extends "simple_home_page.html" %}

{% block centered_content %}
    
<div class="center-vertically">
        
    <div class="message-row">
        <span class="header-text">Putting healthy meals</span>
    </div>
    
    <div class="message-row">
        <div class="subheader-container">
            <div class="green-dash">
            </div>
            <span class="scripty-header-text">on your table</span>
            <div class="green-dash">
            </div>
        </div>
    </div>
        
    <div class="message-row">
        <p class="message-text">
            Bonbon liquorice fruitcake pastry lollipop sesame snaps macaroon chocolate. Brownie cake dessert fruitcake liquorice chocolate bar cotton candy. Soufflé ice cream bear claw icing gingerbread halvah chocolate bar. Faworki pie pie gingerbread oat cake tart soufflé ice cream.
        </p>
    </div>
    
    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}
    
    <div class="message-row">
        <form class="email-submit" action="submit_email_request/" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input id="orange-button" type="submit" value="Request an invite code" />
        </form>
        <!-- <a href="http://www.google.com">
            <input class="green-button" style="width: 200px" type="submit" value="I have a code!" />
        </a> -->
    </div>
    
</div>
        
{% endblock %}
