{% extends "home_base.html" %}

{% block title %}Healthfully.me{% endblock %}

{% block extra_style %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/home.css" type="text/css" media="screen" />
    
    <!-- Google Web Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Montez' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Signika:300' rel='stylesheet' type='text/css'>
    
    {% block more_extra_style %}{% endblock %}
{% endblock %}

{% block body %}

<div class="top-bar">
</div>
    

<div class="main-content">

    <div class="centered-content">
        <div class="logo">
        </div>

        {% block centered_content %}
        {% endblock %}
    </div>
</div>


<div class="bottom-bar">
</div>


{% endblock %}
