{% extends "admin/base_site.html" %}
{% load i18n admin_static admin_modify %}
{% load url from future %}
{% load admin_urls %}

{% block extrahead %}{{ block.super }}
{% url 'admin:jsi18n' as jsi18nurl %}
<script type="text/javascript" src="{{ jsi18nurl|default:"../../../jsi18n/" }}"></script>
{{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />{% endblock %}

{% block coltype %}{% if ordered_objects %}colMS{% else %}colM{% endif %}{% endblock %}

{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}

{% block content %}

<div id="content-main">
    {% if error %}
        <h1 style="color: red"><br /><br /> {{ error }} <br /><br /><br /></h1>
        
        <div class="submit-row">
            <input type="submit" value="Back" onclick="history.back()"/>
        </div>
    {% else %}
        
        <h1><br /><br />Are you sure you want to reset the password for {{ user_email }}?<br /><br /><br /></h1>
        
        <form action="/admin/tools/reset-password/{{ user_email }}" method="post">
            {% csrf_token %}
        
            <div class="submit-row">
                <input class="default" type="submit" value="Reset it!" />
            </div>
            
    {% endif %}
    
</div>

{% endblock %}
