{% extends 'user_page.html' %}


{% block main_content %}
    <style>
        .error-text {
            font-family: 'Montez', sans-serif;
            color: #ffa05b;
            font-size: 35px;
            line-height: 60px;
            padding: 20px;
            text-shadow: 0px 0px 10px #bbbbbb;
        }
        
        .error-message-text {
            float: none;
            font-family: 'Signika', sans-serif;
            font-size: 16px;
            color:#666666;
            
            margin-top: 100px;
            padding: 20px;
        }
    </style>

    <br />
    <span class="error-text">Now that's what I call a dead page.</span>
    <br />
    <span class="error-text">This page is no more.</span>
    <br />
    <span class="error-text">It has ceased to be.</span>
    <br />
    <span class="error-text">It's expired and gone to meet its maker.</span>
    <br />
    <span class="error-text">This is an ex-webpage.</span>
    
    <p class="error-message-text">
        A message has been sent to our development team.<br/>Please try again later or <a href="mailto:support@healthfully.me?subject=Your stupid, stupid programmers...">contact our support team</a>.
    </p>
{% endblock %}
