{% extends "base.html" %}
{% load static from staticfiles %}

{% block title %}Healthfully.me{% endblock %}

{% block extra_style %}
    <link rel="stylesheet" href='{% static "css/home.css" %}' type="text/css" media="screen" />
        
    {% block more_extra_style %}{% endblock %}
{% endblock %}

{% block body %}
<div class="top-bar">

</div>

<div class="centered-main-content">
    
    <div class="login-container">
        
        <h1 class="login-header-text">Set My Password</h1><br />
        
        {% if error %}
        <span class="error">{{ error }}</span><br />
        <p>There was a problem processing this password-reset.<br />Please contact <a href="mailto:help@healthfully.me?subject=Password Reset">help@healthfully.me</a> to try again</p>
        {% else %}
            {% if message %}
                <p>Your password has been changed. Please <a href="/login">login</a> with your new password</p>
            {% else %}
            <form class="login-form" action="/reset-password/{{ code }}" method="post">
                {% csrf_token %}
                
                {{ form.as_p }}
                
                <input class="green-button" type="submit" value="OK" onclick="analytics.track('/reset-password/clicked-ok', {});" />
            </form>
            {% endif %}
        {% endif %}
        
        <br style="clear: both;" />
    </div>
</div>

<div class="bottom-bar">
</div>
{% endblock %}