.recipe-card-container{
    margin-top: 40px;
    margin-bottom: 200px;
}

.recipe-card {
    border-radius: 4px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
    background-color: #fafafa;
    padding: 20px;
    margin-top: 25px;
    height: 400px;
    cursor: pointer;
} .recipe-card:hover {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.75);
    background-color: #fff;
} .recipe-card:active {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 1);
}

.recipe-card h1 {
    width: 100%;
    text-align: left;
    background: #d64b4b;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffa05b), to(#f07c28));
    background: -webkit-linear-gradient(top, #ffa05b, #f07c28);
    background: -moz-linear-gradient(top, #ffa05b, #f07c28);
    background: -ms-linear-gradient(top, #ffa05b, #f07c28);
    background: -o-linear-gradient(top, #ffa05b, #f07c28);
    background-image: -ms-linear-gradient(top, #ffa05b 0%, #f07c28 100%);
    box-shadow: rgba(000,000,000,0.3) 0 1px 1px;

    font-family: 'Signika', sans-serif;
    color: #fff;
    font-size: 15px;
    line-height: 24px;
    padding: 10px 10px 10px 30px;
    margin: -5px -20px 10px -20px;
}

.recipe-card h5 {
    font-family: 'Signika', sans-serif;
    color: #777;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
}

.recipe-card .recipe-thumbnail {
    padding: 0;
    margin: 0;
    border-radius: 4px;
}

.breadcrumbs {
    font-family: 'Signika', sans-serif;
    color: #666;
    font-size: 18px;
    margin-left: 20px;
}

#recipe {
    margin-top: 50px;
    margin-bottom: 200px;
    border-radius: 4px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    background-color: #fafafa;
    z-index: -100;
}

#recipe h1 {
    width: 100%;
    text-align: center;
    background: #d64b4b;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffa05b), to(#f07c28));
    background: -webkit-linear-gradient(top, #ffa05b, #f07c28);
    background: -moz-linear-gradient(top, #ffa05b, #f07c28);
    background: -ms-linear-gradient(top, #ffa05b, #f07c28);
    background: -o-linear-gradient(top, #ffa05b, #f07c28);
    background-image: -ms-linear-gradient(top, #ffa05b 0%, #f07c28 100%);
    box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
    font-family: 'Signika', sans-serif;

    border: 1px solid #f07c28;
    box-shadow: 0 0 4px 0 #999;

    border-radius: 4px;
    font-size: 19px;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: black 1px 1px 1px inset;
    padding: 15px 10px;
}

#recipe h3 {
    color: #666;
    line-height: 20px;
    font-size: 14px;
    font-family: 'Signika', sans-serif;
    text-align: left;
    margin: 0;
    padding: 10px;
}

#recipe h2 {
    color: #666;
    line-height: 24px;
    font-size: 20px;
    font-family: 'Signika', sans-serif;
    text-align: left;
    margin: 0;
    padding: 10px;
}

#recipe .left-header {
    width: auto;
    float: left;
    text-align: left;
}

#recipe .right-header {
    width: auto;
    float: right;
    text-align: right;
    padding-right: 0;
    margin-right: 0;
}

#recipe .head-container {
    padding: 20px;
    height: 200px;
}

#recipe #recipe-image-container {
    padding: 20px;
    position: relative;
}

#recipe .recipe-image {
    position: absolute;
    top: 30px;
    left: 30px;
    max-width: 360px;
    box-shadow: 0 0 4px 0 #999;
    border: 1px solid #999;
    border-radius: 4px;
}

#share-icons {
    background-color: #eee;
    position: relative;
    top: 350px;
    left: 205px;
    width: 165px;
    height: 72px;
    padding: 5px 10px 15px 10px; 
    
    border-radius: 4px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2) inset;
}

#share-icons h5 {
    color: #444;
    line-height: 20px;
    font-size: 14px;
    font-family: 'Signika', sans-serif;    
}

#ingredient-container {
    float: left;
    padding: 20px;
    line-height: 20px;
    font-size: 14px;
    font-family: 'Signika', sans-serif;    
}

#ingredient-container p {
    padding: 0 30px;
    line-height: 20px;
    font-size: 14px;
    font-family: 'Signika', sans-serif;    
}

#ingredient-container ul {
    padding-left: 20px;
    list-style-type: circle;
}


@media only screen and (max-width: 787px), only screen and (max-device-width: 787px) {
    #recipe .recipe-image {
        position: absolute;
        top: 50px;
        max-width: 320px;
    }

    #recipe #recipe-image-container {
        min-height: 400px;
    }
    
    #recipe .right-header {
        float: left;
    }
    
    #recipe h1 {
        width: auto;
    }
    
    .recipe-card {
        margin: 30px;
    }
    
    .recipe-card .recipe-thumbnail {
        position: relative;
        width: 325px;
    }
    
    #share-icons {
        top: -50px;
        left: 150px;
    }
}