@import url(https://fonts.googleapis.com/css?family=Lobster+Two:700);
@import url(https://fonts.googleapis.com/css?family=Signika:300);

.store-headline {
    font-family: 'Lobster Two', sans-serif;
    font-size: 50px;
    color: #ffa05b;
    
    
    text-align: center;
    width: 100%;
    margin-top: 60px;
}

span {
    font-family: 'Signika', sans-serif;
    font-size: 16px;
    color:#666666;
}

.section-header {
    font-family: 'Signika', sans-serif;
    font-size: 30px;
    color:#666666;
    
    text-align: left;
    width: 100%;
    margin: 50px 0 15px 0;
}


.coming-soon-idea {
    font-family: 'Signika', sans-serif;
    color: #666;
    
    background-color: #ffffff;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 4px solid #24adae;
    
    padding: 24px;
    margin-bottom: 50px;  
    height: 128px;  
    cursor: pointer;
}.coming-soon-idea:hover {
    border: 9px solid #24adae;
    padding: 19px;
}.coming-soon-idea:active {
    border: 9px solid #24adae;
    padding: 19px;
}

.coming-soon-favorite {
    font-family: 'Signika', sans-serif;
    color: #666;
    
    background-image: url("../img/check.jpg");
    background-repeat: no-repeat;
    background-size: 24px 24px;
    
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 8px solid #7FC44E;
    
    padding: 20px;
    margin-bottom: 50px;
    height: 128px;    
}

.offer-container {
    position: relative;
    background-color: #ffffff;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 6px solid #24adae;
    
    padding: 25px;
    margin-bottom: 50px;    
}

.offer-container img {
    width: 100%;
    max-width: 350px;
    margin-right: 33px;
    margin-bottom: 10px;
}

.offer-container ul {
    font-family: 'Signika', sans-serif;
    font-size: 14px;
    line-height: 36px;
    color: #666;
}

.offer-container h3 {
    left: left;
    font-family: 'Signika', sans-serif;
	font-size: 32px;
    line-height: 36px;
    color: #666;
    
    margin: 0 20px 0 0;
}

.buy-button {
    float: right;
    
    background-color: #ffa05b;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #eda933;
    display: inline-block;
    color: #ffffff;

    font-family: 'Signika', sans-serif;
    font-size: 15px;

    text-align: center;
    padding: 12px 24px;
    text-shadow: 1px 1px 0px #cd8a15;
    
}.buy-button:hover {
    background-color: #ffb884;
}

.clear-fluid-row {
    margin: -25px;
}

.order-message {
    float: left;
    font-family: 'Signika', sans-serif;
    font-size: 16px;
    color:#666666;
    padding: 20px;
}

.address-text {
    float: none;
    font-family: 'Signika', sans-serif;
    font-size: 12px;
    line-height: 18px;
    color:#666666;
    padding: 20px;
}

.address-container {
    width: 50%;
    float: left;
}

#store-content {
    padding-bottom: 200px;
}

#store-content .processing-header {
    float: left;
    font-family: 'Signika', sans-serif;
    font-size: 24px;
    color: #666666;
    width: 100%;
    text-align: center;
}

#store-content .loader-gif {
    float: left;
    margin: 0 50% 0 50%;
    position: relative;
    left: -105px;
}

.confirmation-panel {
   padding: 20px; 
}

.confirmation-panel-left {
    min-height: 200px;
    
    border-left: 2px solid #eda933;
    padding: 20px;
    margin: 0;
}

.confirmation-container {
    position: relative;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 4px solid #eda933;
}

.confirmation-button {
    float: right;
    
    background-color: #ffa05b;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #eda933;
    
    color: #ffffff;

    font-family: 'Signika', sans-serif;
    font-size: 15px;

    text-align: center;
    padding: 12px 24px;
    text-shadow: 1px 1px 0px #cd8a15;
    margin: 10px 20px 0px 0px;
    
}.confirmation-button:hover {
    background-color: #ffb884;
}

@media (max-width: 767px) { 
    .main-content{
        padding: 50px;
    }
    
    .confirmation-panel-left {        
        min-height: 300px;
        border-left: 0;
        
        border-top: 2px solid #eda933;
    }
} 


