<!DOCTYPE html
	 PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
	<title>{% block title %}OHM-Labs{% endblock %}</title>
	
	<link href='http://fonts.googleapis.com/css?family=Orienta' rel='stylesheet' type='text/css'>
	<link type="text/css" rel="stylesheet" href="/media/css/main.css" />
	{% block header %}
	{% endblock %}
	
  </head>

	<body class="background">
		<div class="header">		

			<a href="/"><img class="logo" src="/media/img/logo.png" alt="logo"/></a>
			<a href="/"><h2 class="logo-text">OHM</h2></a>
	
			<a href="/tag/fitness"><h2 class="large-tag header-all-tag">All</h2></a>	
			<a href="/tag/fitness"><h2 class="large-tag header-fitness-tag">Fitness</h2></a>
			<a href="/tag/food"><h2 class="large-tag header-food-tag">Food</h2></a>
			<a href="/tag/events"><h2 class="large-tag header-events-tag">Events</h2></a>
			<a href="/tag/community"><h2 class="large-tag header-news-tag">News</h2></a>
	
			<input type="text" value="" id="global-search-text-field" placeholder="Search">
	
			<div class="login-container">
				{% if user.is_authenticated %}
					{{ user.username }}
					|
					<a href="{% url django.contrib.auth.views.logout %}">Sign Out</a>
			  	{% else %}
					<a href="{% url django.contrib.auth.views.login %}">Login</a>
					|					
					<a href="/accounts/create_user/">Signup</a>
				{% endif %}
			</div>
			
		</div>
	
		<div class="mid-container">
			{% block content %}
			{% endblock %}
		</div>

	</body>
</html>
