{% extends "email/boilerplate.html" %} 
 
{% block subject %}Welcome to Healthfully Me!{% endblock %} 

{% block body %}
<style>
    @import url(http://fonts.googleapis.com/css?family=Signika);
</style>

<font color="#666666" face="Signika, sans-serif">
<p style="font-size:16px;line-height:20px;padding:10px">
    Hi!<br/>
<br/>
Thanks for creating your new account! At Healthfully Me, we recognize how tough getting healthy, and staying healthy can be. We’re working on new resources and tools to help make this easier, that you should start seeing in the coming months. <br/>
<br/>
In the meantime, we want to help you save some money while making healthy choices in the grocery store!  Right now, we’re offering exclusive access to a 20% discount at Whole Foods Market.  <br/>
<br/>
Just login to <a href="https://www.healthfully.me/login">Healthfully Me</a> now and claim your discount. <br/>
<br/>
We'll have much more than just healthy savings very soon, so check back often, and let us know what we can do to help you meet your health goals.<br/>
    Follow us for updates and other healthy tips on our 
    <a href="http://blog.healthfully.me/">blog</a>, 
    <a href="https://twitter.com/HealthfullyMe/">twitter</a>, 
    <a href="https://www.facebook.com/healthfullyme">facebook</a>, 
    <a href="http://pinterest.com/healthfullyme/">pinterest</a>, and 
    <a href="http://instagram.com/healthfullyme">instagram</a>!<br /> 
    <br />
    Your Healthfully Me Support Team,<br />
    <br />
    Emily, Jamie, Brittany, and Caitlin
</p>
</font>

{% endblock %}