@import url(https://fonts.googleapis.com/css?family=Lobster+Two:700);
@import url(https://fonts.googleapis.com/css?family=Signika:300);

* {
    margin: 0;
    padding: 0; 
}

html, body {
    height: 100%; 
    min-height: 480px;
    overflow: hidden;
}

#main {
    overflow:auto;
	padding-bottom: 150px;
}  /* must be same height as the footer */

#footer {position: relative;
	margin-top: -150px; /* negative value of footer height */
	margin-left: -20px;
	margin-right: -20px;
	padding-left: 20px;
	padding-right: 20px;
	
	height: 150px;
	clear: both;
	background-color:#7FC44E;
    border-top: 4px solid #24adae;
    
    z-index: 100;
} 

#footer .email-link {
    float: right;
    color: white;
    margin: 24px 20px;
    line-height: 20px;
    
    padding: 0 0 8px 28px;
    
    background: url(../img/email-icon.png) 0 0 no-repeat;
}

#footer .social-link {
    float: right;
    color: white;
    margin: 18px 20px;
    width: 32px;
    height: 32px;
}

h3 {
    font-family: 'Signika', sans-serif;
    font-size: 25px;
    line-height: 40px;
    color: #666;
    
    margin-left: 10px;
    text-align: center;
    width: 100%;
}

.main-content {
    height: 100%;

	max-width: 900px;
	margin: 0 auto;
	z-index: -100;
}

.background {
	height: 100%;
	width: 100%;
	background-color: white;
    padding: 0;
	margin: 0 0 -64px 0;
	z-index: -100;
    overflow-y: scroll;
}

.centered-main-content {
    position: relative;
    height: 100%;
    
    width: 100%;
    
    margin: 0 auto;
    background-color: white;
}

.social-container {
    float:none;
    
    margin: 50px auto;
    width: 371px;
    
    display: box;
}

.logo {
    width: 371px;   
    
}

.default-form {
    float: left;
    font-family: 'Signika', sans-serif;
    font-size: 16px;
    color:#666666;
    
    width: 350px;
    line-height: 22px;
}

.default-form label {
    float: left;
    width: 100%;
}

.errorlist {
    position: absolute;
    right: 0;
    font-family: 'Signika', sans-serif;
    font-size: 12px;
    list-style-type: none;
    color: red;
    
    margin: 32px auto;
    
    width: 120px;
}

.error {
    font-family: 'Signika', sans-serif;
    font-size: 16px;
    color: red;
}

.text-box input {
    float: none;
    
    background-color: #ffffff;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 4px solid #24adae;
    
    width: 330px;
}

.login-container {
    position: relative;
    padding: 32px;
    background-color: white;
    width: 320px;
    margin: 0 auto 100px auto;
}

.login-container #id_newsletter {
    float: right;
    position: relative;
    top: -26px;
    left: -150px;
}

.login-form {
    float: left;
    font-family: 'Signika', sans-serif;
    font-size: 16px;
    color:#666666;
    
    width: 100%;
    height: 300px;
    margin: 16px 0 16px 0;
}

.forgot-login {
    margin-left: 20px;
}

.login-header-text {
    float: left;
    font-family: 'Lobster Two', sans-serif;
    font-size: 50px;
    color: #ffa05b;
    height: 64px;
    line-height: 64px;
    
    width: 100%;
    text-align: left;
}

.default-form label {
    float: left;
    width: 100%;
}

.orange-button {
    float: left;
    background-color: #ffa05b;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #eda933;
    display: inline-block;
    color: #ffffff;

    font-family: 'Signika', sans-serif;
    font-size: 15px;

    text-align: center;
    width: 100%;
    padding: 12px 24px;
    margin: 0 auto;
    text-shadow: 1px 1px 0px #cd8a15;
    
    cursor: pointer;
}.orange-button:hover {
    background-color: #ffb884;
}.orange-button:active {
    position: relative;
    top: 1px;
}

.green-button {
    background-color: #7fc44e;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #7abc4c;
    display: inline-block;
    color: #ffffff;

    font-family: 'Signika', sans-serif;
    font-size: 15px;
    
    width: 350px !important;
    max-width: 350px !important;
    min-width: 350px !important;
    padding: 12px 24px;
    text-decoration: none;
    text-shadow: 1px 1px 0px #7abc4c;
    text-align: center;
    
}.green-button:hover {
    background-color: #97e161;
}.green-button:active {
    position: relative;
    top: 1px;
}

.green-textured {    
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSI1IiBmaWxsPSIjN2ZjNDRlIj48L3JlY3Q+CjxwYXRoIGQ9Ik0wIDVMNSAwWk02IDRMNCA2Wk0tMSAxTDEgLTFaIiBzdHJva2U9IiM2N2FjMzUiIHN0cm9rZS13aWR0aD0iMSI+PC9wYXRoPgo8L3N2Zz4=");
}

.top-bar {
    background-color:#7FC44E;
    position: relative; 
    height: 72px;
    width: 100%;
    top: 0;    
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 4px solid #24adae;
    
    z-index: 100;
}


.login-link {
    float: right;
    color: white;
    margin: 24px 21px;
    line-height: 20px;
}

.top-bar a {
    color: white;
}

.debug-div {
    border: 2px solid red;
}

.bottom-bar {
    background-color: #24adae;
    height: 200px;
    width: 100%;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

.message-container {
    float:none;
    
    margin: 70px auto;
    width: 350px;
    min-height: 400px;
}

.message-row {
    float: left;
    min-width: 350px;
    margin-top: 10px;
}

.header-text {
    font-family: 'Signika', sans-serif;
    font-size: 37px;
    line-height: 38px;
    color: #24adae;
    
    margin: 0 auto;
}

.scripty-header-text {
    float: left;
    font-family: 'Lobster Two', sans-serif;
    font-size: 40px;
    color: #ffa05b;
    height: 64px;
    line-height: 64px;
    
    width: 250px;
    text-align: center;
}

.leafy-header {
    float: left;
    font-family: 'Lobster Two', sans-serif;
    font-size: 38px;
    color: #ffa05b;
    height: 64px;
    line-height: 64px;
    margin-left: 5px;
    width: 320px;
    text-align: center;
}

.leafy-header:before {
    content: url(../img/leaves-left.png);
}

.leafy-header:after {
    content: url(../img/leaves-right.png);
}

.green-dash {
    float: left;

    background-color: #7fc44e;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    display: inline-block;
    
    width: 45px;
    height: 3px;
    
    margin: 31px 0;
}

.message-text {
    font-family: 'Signika', sans-serif;
    font-size: 16px;
    text-align: center;
    line-height: 32px;
    color:#666666;
}

#featured-recipe-container {
    position: relative;
    margin: 70px auto;
    width: 350px;
    min-height: 425px;
    padding-top: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2) inset;
    background-color: #fafafa;
    border-radius: 4px;
}

#featured-recipe-container h1 {
    font-family: 'Signika', sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: normal;
    color: #fff;
    text-align: center;
    padding: 5px 0 5px 0;
    margin-top: 10px;
    width: 100%;
    
    background: -webkit-gradient(linear, left top, left bottom, from(#ffa05b), to(#f07c28));
    background: -webkit-linear-gradient(top, #ffa05b, #f07c28);
    background: -moz-linear-gradient(top, #ffa05b, #f07c28);
    background: -ms-linear-gradient(top, #ffa05b, #f07c28);
    background: -o-linear-gradient(top, #ffa05b, #f07c28);
    background-image: -ms-linear-gradient(top, #ffa05b 0%, #f07c28 100%);
    border-left: 1px solid rgba(0, 0, 0 0.2);
    border-right: 1px solid rgba(0, 0, 0 0.2);
    
}
#featured-recipe-container h3 {
    font-family: 'Signika', sans-serif;
    font-size: 18px;
    text-align: left;
    line-height: 24px;
    color:#666;
}

#featured-recipe-container img {
    margin-left: 25px;
    width: 300px;
}

#featured-recipe-container a {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-family: 'Signika', sans-serif;
    font-size: 18px;
    text-align: left;
}

.email-result-message {
    float: none;
    font-family: 'Signika', sans-serif;
    font-size: 16px;
    line-height: 32px;
    color:#666666;
    text-align: justify;
}

.tiny-logo {
    position:absolute; 
    top:5px; 
    left:10px;
    z-index: 101;
}

a {
    font-family: 'Signika', sans-serif;
}
	
/* Swap out assets for retina displays
@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

}*/

@media only screen and (max-width: 787px), only screen and (max-device-width: 787px) {
    
    .social-container {
        display: none;
    }
    
    .social-link {
        margin-left: 10%;
        margin-right: 10%;
    }
    
    .tiny-logo {
        position: absolute; 
        top: 6px; 
        left: 10px;
    }
    
    .background {
        padding: -20px;
    }
    
    .scripty-header-text {
        font-size: 30px;
    }
    
    .leafy-header {
        font-size: 30px;
    }
        
    .header-text {
        font-size: 28px;
        line-height: 38px;
    }
    
    .login_container {
        padding: 32px;
        margin: 64px;
    }
    
    #featured-recipe-container {
        margin: 70px auto 200px auto;
    }
    
    body {
        margin: 0;
        padding: 0;
    }
}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
    
    body {
        zoom: 0.75;
    }
}
