{% extends "user_page.html" %}

{% block more_extra_style %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/store.css" type="text/css" media="screen" />
{% endblock %}

{% block main_content %}

<div class="row-fluid">
    <div class="span12">
        <h1 class="scripty-header-text" style="width: 100%; margin-top: 30px">Order Successful</h1>
        <br style="clear: both;" />
        <p class="order-message">
            Your purchase has been placed :)<br/>
            If you'd like to ship to a different address please contact us at  
            <a href="mailto:orders@healthfully.me?subject=Update Shipping for Order #{{ transaction.id }}">
                help@healthfully.me.
            </a> 
            <br />
            We'll take care of the rest.
        </p>
        
        <div style="clear: both;">
        </div>
    </div>
    <div class="span10 offset1 confirmation-container">
        <div class="span5 confirmation-panel">
            <p class="order-message">
                Your order number is {{ transaction.id_slug }}.
                You'll recieve an email confirmation shortly at {{ user.email }}.
                <br />
                <br />
                Please allow 1-3 business days for delivery.
            </p>
            <div style="clear: both;">
            </div>
        </div>
        
        <div class="span7 confirmation-panel-left">
            <div class="address-container">
                <p class="address-text">
                    <b>Shipping Address:</b><br />
                    {{ shipping_address.name }}<br />
                    {{ shipping_address.line1 }}<br />
                    
                    {% if shipping_address.line2 %}
                        {{ shipping_address.line2 }}<br />
                    {% endif %}
                    
                    {{ shipping_address.city }}
                    
                    {% if shipping_address.state %}
                        , {{ shipping_address.state }}
                    {% endif %}
                    
                    <br />
                    {{ shipping_address.zip }}
                    
                    {% if shipping_address.country %}
                        <br />
                        {{ shipping_address.country }}
                    {% endif %}
                </p>
                
            <div style="clear: both;">
            </div>
            </div>
            <div class="address-container">
                <p class="address-text">
                    <b>Billing Address:</b><br />
                    {{ billing_address.name }}<br />
                    {{ billing_address.line1 }}<br />
                    
                    {% if billing_address.line2 %}
                        {{ billing_address.line2 }}<br />
                    {% endif %}
                    
                    {{ billing_address.city }}
                    
                    {% if billing_address.state %}
                        , {{ billing_address.state }}
                    {% endif %}
                    
                    <br />
                    {{ billing_address.zip }}
                    
                    {% if billing_address.country %}
                        <br />
                        {{ billing_address.country }}
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
    
    <div class="span12" style="padding: 30px">
        <a href="mailto:help@healthfully.me?subject=Regarding Order #{{ transaction.id_slug }}">
            <button class="confirmation-button">Contact Us!</button>
        </a>
        <a href="/store">
            <button class="confirmation-button">Back</button>
        </a>
    </div>
          
</div>

{% endblock %}
