{% extends "user_page.html" %}

{% block more_extra_style %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/store.css" type="text/css" media="screen" />
{% endblock %}

{% block main_content %}

<div class="row-fluid">
    <div class="span12">
        <h1 class="scripty-header-text" style="width: 100%; margin-top: 30px">Order Successful</h1>
        <br style="clear: both;" />
        <p class="order-message">
            {{ completed_order_copy }}
        </p>
        
        <div style="clear: both;">
        </div>
    </div>
    <div class="span10 offset1 confirmation-container">
        <div class="span5 confirmation-panel">
            <p class="order-message">
                Your order number is {{ transaction.id_slug }}.
                You'll receive an email confirmation shortly at {{ user.email }}.
                <br />
            </p>
            <div style="clear: both;">
            </div>
        </div>
        
        <div class="span7 confirmation-panel-left">
            <div class="address-container">
                <p class="address-text">
                    <b>Shipping Address:</b><br />
					{% autoescape off %}
					{{ shipping_address }}
					{% endautoescape %}
                    
                </p>
                
            <div style="clear: both;">
            </div>
            </div>
            <div class="address-container">
                <p class="address-text">
                    <b>Billing Address:</b><br />
					{% autoescape off %}
					{{ billing_address }}
					{% endautoescape %}
                </p>
            </div>
        </div>
    </div>
    
    <div class="span12" style="padding: 30px">
        <a href="/store">
            <button class="confirmation-button">Back</button>
        </a>
    </div>
          
</div>

{% endblock %}
