{% extends "user_page.html" %}

{% block more_extra_style %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/store.css" type="text/css" media="screen" />
{% endblock %}

{% block extra_script_include %}
    <script src="https://checkout.stripe.com/v2/checkout.js"></script>
      
    <script type="text/javascript">
        function record_charge(res, offer_id) {
            // Show the Processing Payment gif
            $("#store-content").html(
             "<div style=\"width: 100%; margin: 0 auto; padding: 200px 40px\">" + 
                "<h3 class=\"processing-header\">Processing Transaction...</h3>" +
                "<img class=\"loader-gif\" src={{ STATIC_URL }}img/ajax-loader.gif></img>" +
             "</div>"   
            );
                
            $.ajax({
                url: "store/record-charge",
                type: "POST",
                data: {
                    offer_id : offer_id,
                    stripe_token : res.id
                },
                success: function(data) {
                    if( data['status'] == "success" ) {
                        window.location = "/store/purchase-complete";   
                    } else if( data['status'] == "card-declined" ) {
                        window.location = "/store/purchase-error";
                    } else if( data['status'] == "not-available" ) {
                        window.location = "/store/offer-not-available/" + data['offer_id'];
                    } else {
                        window.location = "/server-error";
                    }
                },
                failure: function(data) {
                    window.location = "/server-error";
                }
            });
        }
        
        // Idea Selector Handler
        {% if idea1 and idea2 and idea3 %} 
        function idea_selected(selected_idea_num) {
            // Reset all the ideas
            $('#idea1').removeClass("coming-soon-favorite");
            $('#idea2').removeClass("coming-soon-favorite");
            $('#idea3').removeClass("coming-soon-favorite");
            
            $('#idea1').addClass("coming-soon-idea");
            $('#idea2').addClass("coming-soon-idea");
            $('#idea3').addClass("coming-soon-idea");
            
            // Set just this 1 div to favorite
            $('#idea' + selected_idea_num).removeClass("coming-soon-idea");
            $('#idea' + selected_idea_num).addClass("coming-soon-favorite");
            
            
            if( selected_idea_num == 1 )
                analytics.track('/store/selected-idea' + "{{ idea1.id }}", 
                {
                    "idea_id" : "{{ idea1.id }}",
                    "idea_text" :  "{{ idea1.text }}"
                });
            else if( selected_idea_num == 2 )
                analytics.track('/store/selected-idea' + "{{ idea2.id }}", 
                {
                    "idea_id" : "{{ idea2.id }}",
                    "idea_text" :  "{{ idea2.text }}"
                });
            else if( selected_idea_num == 3 )
                analytics.track('/store/selected-idea' + "{{ idea3.id }}", 
                {
                    "idea_id" : "{{ idea3.id }}",
                    "idea_text" :  "{{ idea3.text }}"
                });
            
            
            $.ajax({
                url: "store/vote",
                type: "GET",
                data: {
                    option1: {{ idea1.id }},
                    option2: {{ idea2.id }},
                    option3: {{ idea3.id }}, 
                    selection: selected_idea_num
                }
            });
        }
        {% else %}
        function idea_selected(selected_idea_num) {
            alert("Voting won't work until there's at least 3 choices in the database");
        }
        {% endif %}
    </script>
            
{% endblock %}

{% block main_content %}

<div class="row-fluid">
    
    <div id="store-content" class="span12" >
        <h1 class="store-headline">Take Control of Your Health</h1>
                
        <div class="row-fluid">
            
            <div class="span10 offset1">
                <h2 class="section-header">Grocery Savings</h2>
                
                <div class="row-fluid">
                    
                    <div class="span12 clear-fluid-row" > </div>
                    
                    {% for offer in offer_list %}
                    <div class="span12 offer-container">
                        <div class="span4">
                            <img src="{{ offer.image }}" alt="offer-image" />
                        </div>
                        <div class="span8">
                            <h3>{{ offer.header_text }}</h3>
                            <ul>
                                {% if offer.description_line_1 != '' %}
                                    <li>{{ offer.description_line_1 }}</li>
                                {% endif %}
                                
                                {% if offer.description_line_2 != '' %}
                                    <li>{{ offer.description_line_2 }}</li>
                                {% endif %}
                                
                                {% if offer.description_line_3 != '' %}
                                    <li>{{ offer.description_line_3 }}</li>
                                {% endif %}
                                
                                {% if offer.description_line_4 != '' %}
                                    <li>{{ offer.description_line_4 }}</li>
                                {% endif %}
                                
                                {% if offer.description_line_5 != '' %}
                                    <li>{{ offer.description_line_5 }}</li>
                                {% endif %}
                            </ul>
                        </div>
                        
                        <form action="/charge" method="post">
                            <button id="buy-offer-{{ offer.id }}" class="buy-button">Buy</button>
                            <script>
                                imageUrl = '{{ offer.thumbnail_image }}';
                                
                                $('#buy-offer-{{ offer.id }}').click(function() {
                                    StripeCheckout.open({
                                        key : '{{ stripe_public_key }}',
                                        address : true,
                                        amount : '{{ offer.price }}',
                                        name : '{{ offer.buy_window_title }}',
                                        description : '{{ offer.buy_window_description }}',
                                        panelLabel : 'Pay Now: ',
                                        image : imageUrl,
                                        token : function(res) {
                                            record_charge(res, {{ offer.id }});
                                        }
                                    });
                                    
                                    analytics.track('/store/clicked-buy-button', {
                                        offerid        : '{{ offer.id }}',
                                        offer_description : '{{ offer.buy_window_description }}',
                                        offer_price : '{{ offer.offer_price }}'
                                    });
                                   
                                    //show_processing_transaction();
                                
                                    return false;
                                });
                                
                            </script>
                        </form>
                        
                        <div style="clear: both;">
                        </div>
                    </div>
                    {% endfor %}
                    
                    
                    <!-- 
                    <div class="span12 offer-container">
                        <div class="span4">
                            <img src="{{ STATIC_URL }}img/product/question-mark.jpg" alt="Who Knows?" />
                        </div>
                        <div class="span8">
                            <h3>And other things! Who knows?</h3>
                            <p>Have an idea for a healthy deal you'd like for us to secure for you? Let us know!</p>
                        </div>
                        
                        <button class="buy-button">Let them know</button>
                        
                        <div style="clear: both;">
                        </div>
                    </div> -->
                    
					<!-- Don't show this section unless there's 3 ideas -->
					{% if idea3 %} 
                    <h2 class="section-header">Coming Soon...</h2>
                    <span style="position: relative; top: -12px; left: 10px;">Help us, help you!  Click on an idea below to cast your vote on what new member service we offer next.   What would you find useful?</span>
                    <div class="span12">
                        
                        {% if idea1 %}
                        <div id="idea1" class="span4 coming-soon-idea" onmousedown="idea_selected(1)">
                            <p>
                                {{ idea1.text }}
                            </p>
                        </div>
                        {% endif %}
                        
                        {% if idea2 %}
                        <div id="idea2" class="span4 coming-soon-idea" onmousedown="idea_selected(2)">
                            <p>
                                {{ idea2.text }}
                            </p>    
                        </div>
                        {% endif %}
                        
                        {% if idea3 %}
                        <div id="idea3" class="span4 coming-soon-idea" onmousedown="idea_selected(3)">
                            <p>
                                {{ idea3.text }}
                            </p>
                        </div>
                        {% endif %}
                        
                        {% if not idea1 and not idea2 and not idea3 %}
                        <div class="span4 coming-soon-idea">
                            <p>
                                We add some ideas to our database so we have something to show you here.
                            </p>
                        </div>
                        {% endif %}
                        
                        <div style="clear: both;">
                        </div> 
                    </div>
					{% endif %}
                </div>
                
            </div>
        </div>        
    </div>

</div>


{% endblock %}
