{% extends "user_page.html" %}
{% load static from staticfiles %}

{% block title %}{{ recipe.title }}{% endblock %}

{% block facebook_meta %}
	<meta property="og:description" content="{{ recipe.title }}" />
       <meta property="og:url" content="https://www.healthfully.me/recipes/{{ recipe.id }}" />
       <meta property="og:title" content="Healthfully.me | {{ recipe.title }}" />
       <meta property="og:type" content="website" />
       <meta property="og:image" content='{{ icon }}' />
{% endblock %}

{% block more_extra_style %}
	<link rel="stylesheet" href='{{ STATIC_URL }}css/recipe.css' type="text/css" media="screen" />
	<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
	<script type="text/javascript">stLight.options({publisher: "042989d5-619e-4199-be35-b4bae45c2680", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
{% endblock %}

{% block main_content %}

<div id="recipe">
	<div class="row-fluid">
		<div class="span6 head-container">
			<h1>{{ recipe.title }}</h1>
		
			<h3 class="left-header">
				<em>Prep time:
					{% if recipe.prep_time_hours > 0 %}
						{{ recipe.prep_time_hours }} hour{% if recipe.prep_time_hours > 1 %}s{% endif %}
					{% endif %}
					{% if recipe.prep_time_hours > 0 and recipe.prep_time_minutes > 0 %}
						,
					{% endif %}
					{% if recipe.prep_time_minutes > 0 %}
						{{ recipe.prep_time_minutes }} minute{% if recipe.prep_time_minutes > 1 %}s{% endif %}
					{% endif %}
				</em>
			</h3>
		
			{% if recipe.attribution %}
				<h3 class="right-header">by <a href="{{ recipe.attribution_link }}">{{ recipe.attribution }}</a></h3>
			{% endif %}
			
			<div id="share-icons">
				
				<span class='st_facebook_large' st_image="{{ icon }}" st_title="Healthfully.me {{ recipe.title }}" displayText='Facebook'></span>
				<span class='st_twitter_large' st_image="{{ icon }}" st_title="Healthfully.me {{ recipe.title }}" displayText='Tweet'></span>
				<span class='st_pinterest_large' st_image="{{ icon }}" st_title="Healthfully.me {{ recipe.title }}" displayText='Pinterest'></span>
			</div>
		</div>
	
		<div class="span6">
			<div id="recipe-image-container">
				{% for image in recipe.images.all %}
					<img class="recipe-image" alt="" src="{{ image.url }}"></img>
				{% endfor %}
			</div>
		</div>
	</div>
	
	<div class="row-fluid">
		<div id="ingredient-container" class="span12">
			<h2>Ingredients</h2>
			<ul>
				{% for ingredient in recipe.ingredient_list.all %}
					<li>{{ ingredient }}</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	
	<div class="row-fluid">
		<div id="ingredient-container" class="span12">
			<h2>Directions</h2>
			<p>
				{{ recipe.get_instructions_html }}
			</p>
		</div>
	</div>
</div>


<script src="{{ STATIC_URL }}js/image-slider.js"></script>
<script>
    $(function() {
		setup_slider( 
			$('#recipe-image-container'),
			5000
		);
	});
</script>

{% endblock %}