{% extends "user_page.html" %}
{% load static from staticfiles %}

{% block title %}{{ recipe.title }}{% endblock %}

{% block facebook_meta %}
	<meta property="og:description" content="{{ recipe.title }}" />
       <meta property="og:url" content="https://www.healthfully.me/recipes/{{ recipe.id }}" />
       <meta property="og:title" content="Healthfully.me | {{ recipe.title }}" />
       <meta property="og:type" content="website" />
       <meta property="og:image" content='{{ icon }}' />
{% endblock %}

{% block more_extra_style %}
	<link rel="stylesheet" href='{{ STATIC_URL }}css/recipe.css' type="text/css" media="screen" />

	<!-- ShareThis Widgets -->
	<script type="text/javascript">var switchTo5x=true;</script>
	<script type="text/javascript" src="https://ws.sharethis.com/button/buttons.js"></script>
	<script type="text/javascript">stLight.options({publisher: "042989d5-619e-4199-be35-b4bae45c2680", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
{% endblock %}

{% block main_content %}

<div id="recipe">
	<div class="row-fluid">
		<div class="span12">
			<span class="breadcrumbs"><a href="{% url 'index' %}">Home</a> / <a href="{% url 'view-recipes' %}">View Recipes</a> / {{ recipe.title }}</span>
		</div>
		<div class="span6 head-container">
			<h1>{{ recipe.title }}</h1>
		
			<h3 class="left-header">
				<em>Prep time: {{ recipe.prep_time_formatted }}</em>
				{% if recipe.refrigeration_life_days > 1 %}
					<br/><em>Leftovers last: {{ recipe.refrigeration_life_days }} days</em>
				{% endif %}
				{% if recipe.refrigeration_life_days == 1 %}
					<br/><em>Leftovers last: {{ recipe.refrigeration_life_days }} day</em>
				{% endif %}
			</h3>
		
			{% if recipe.attribution %}
				<h3 class="right-header">by <a href="{{ recipe.attribution_link }}">{{ recipe.attribution }}</a></h3>
			{% endif %}
		</div>
	
		<div class="span5">
			<div id="recipe-image-container">
				{% for image in recipe.images.all %}
					<img class="recipe-image" alt="" src="{{ image.url }}"></img>
				{% endfor %}
			</div>
			
			<div id="share-icons">
				<h5>Share this Recipe:</h5>
				<span class='st_facebook_large' displayText='Facebook'></span>
				<span class='st_twitter_large' displayText='Tweet'></span>
				<span class='st_pinterest_large' displayText='Pinterest'></span>
				<span class='st_email_large' displayText='Email'></span>
			</div>
		</div>
	</div>
	
	<div class="row-fluid">
		<div id="ingredient-container" class="span11">
			<h2>Ingredients</h2>
			<ul>
				{% for ingredient in recipe.ingredient_list.all %}
					<li>{{ ingredient }}</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	
	<div class="row-fluid">
		<div id="ingredient-container" class="span8">
			<h2>Directions</h2>
			<p>
				{{ recipe.get_instructions_html }}
			</p>
		</div>

		<div id="bottom-link" class="span14">
			<a class="orange-button" style="width: 375px!important; margin: 50px;" href="{% url 'store' %}">Save money on this meal with our deals</a>
		</div>
	</div>
	
</div>


<script src="{{ STATIC_URL }}js/image-slider.js"></script>
<script>
    $(function() {
		setup_slider( 
			$('#recipe-image-container'),
			5000
		);
	});
</script>

{% endblock %}